{% extends 'base.html' %}
{% block title %}Book Store{% endblock %}

{% block body %}

<style>
    .centered-div {
        text-align: center;
        margin-top: 150px; /* Adjust as needed */
    }

    .centered-div h1 {
        color: #333; /* Optional styling for the h1 element */
        margin-bottom: 20px; /* Add some margin below the h1 */
    }

    .centered-div a {
        display: block; /* Make the links block-level elements */
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
        font-size: 1.5em; /* Set font size equal to h2 */
    }
</style>

<div class="centered-div">
    <h1>Welcome to Book Store</h1>
    <a href="{% url 'store_book' %}">Store Books</a>
    <a href="{% url 'show_books' %}">Show Books</a>
</div>

{% endblock %}
